* {
    box-sizing: border-box;
}
body {
    background-color: #d3d3d3;  
}
.col-xs-12 {
    padding: 0px;   
}
.gif-bg {
    background: url('https://media.giphy.com/media/3oz8xOvhnSpVOs9xza/giphy.gif') no-repeat center center;
    width: 100%;
    height: 100%;
    min-height: 100%;
    /* for mobile and tablets */
    background-size: cover;
    padding: 25px;
    position: relative; 
}
input, label { 
    margin: 10px;   
}
h1 { 
    font-family: 'Monoton', cursive;
    color: #ffffff;
    text-shadow: 1px 1px #000000;
}
.jumbotron { 
    margin-bottom: 5px; 
    border-radius: 5px; 
}
#buttons-view {
    margin: 25px auto;   
}
.showBtn { 
    margin: 10px;  
    font-family: sans-serif;   
    font-size: 18px;      
}

label { 
    font-family: sans-serif;
    font-size: 25px;    
    color: #d3d3d3; 
    text-shadow: 1px 1px #000000;   
}
.gif {
    width: 380px;
    height: 270px;
    text-align: center;
    text-justify: auto;
    margin: 25px auto;
}
.display { 
    justify-content: space-around;
    align-items: center;
}
button { 
    margin: 5px; 
    border-radius: 5px;    
}
input { 
    border-radius: 5px; 
    font-family: sans-serif;
    font-size: 18px;    
}
h5 { 
    font-family: sans-serif;
    font-size: 18px;
    text-align: center; 
    line-height: 200%;  
}
.footer {
    display: flex;  
    text-align: center; 
    justify-content: space-between;    
}